.left {
    max-width: 200px;
    margin: 15px;
    padding: 15px;
}
.left__list {
    list-style: none;
    padding: 0;
    
}
.left__list-item a {
    display: flex;
    align-items: center;
    text-decoration: none;  
}
.left__list-item span{
    margin-left: 20px;
}